<div style="height: 100%;" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
  <div *ngIf="mapPlots$ | async as mapPlots">
    <div *ngFor="let mapPlot of mapPlots">
      <!-- <div *ngIf="mapPlot.layer" [leafletLayer]="mapPlot.layer"></div> -->
      <app-plot-layer [visible]="mapPlot.visible" [mapPlot]="mapPlot"></app-plot-layer>
    </div>
    <app-legend-colorbar *ngIf="activePlot$ | async as activePlot" [colorbar]="$any(activePlot.metadata)"></app-legend-colorbar>
  </div>
  <!-- <div *ngIf="layers$ | async as layers">
    <div [leafletLayers]="layers"></div>
  </div> -->
  <div [leafletLayersControl]="layersControl"></div>
</div>
