:host {
  height: 100%;
  width: 100%;
}

::ng-deep .leaflet-coords-control {
  padding: 0.1vw 0.3vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.1vw;
  box-shadow: 0 0 0 0.1vw rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

::ng-deep .threshold-control {
  padding: 0.5vw;
  background-color: white;
  border-radius: 0.1vw;
  box-shadow: 0 0 0 0.1vw rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  font-size: 0.7vw;

  .threshold-input-wrapper {
    display: flex;
    align-items: center;
    gap: 0.2vw;
  
    .threshold-label {
      font-size: 0.85vw;
    }
  
    .threshold-input {
      border: 0.05vw solid #ccc;
      border-radius: 0.1vw;
      padding: 0.1vw;
      font-size: 0.85vw;
      width: 3vw;
    }
  }

  .calculate-btn {
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 0.2vw;
    font-size: 0.85vw;
    font-weight: 500;
    padding: 0.3vw 0.3vw;
    margin: 0.3vw;
    cursor: pointer;
  }

  .calculate-btn:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
    box-shadow: none;
  }

  .toggle-checkboxes-btn {
    padding: 0.1vw 0.1vw;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.6vw;
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.3vw;
  }

  .status-wrapper {
    display: flex;
    justify-content: center;
  }

  .spinner {
    width: 1vw;
    height: 1vw;
    border: 0.2vw solid #ccc;
    border-top: 0.2vw solid #3f51b5;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }

}