.info {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    // position: absolute;
    // left: 25px;
    // transform: translateX(25px);
    padding: 15px;
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-width:200px;
    z-index: 10000000;
    background-color: white;
    transition: transform 0.4s;
}

.icon {
    z-index: 50;
}