<app-map-plot-list-item 
    class="map-plot-list"
    title="ATP45"
    [plots]="atp45Plots$ | async"
    (visibilityEvent)="toggleVisibility($event)"
    (deleteEvent)="delete($event)"
    (itemClickEvent)="onPlotClick($event)">
</app-map-plot-list-item>
<app-map-plot-list-item 
    class="map-plot-list"
    title="Flexpart"
    [plots]="flexpartCombined$ | async"
    (visibilityEvent)="toggleVisibility($event)"
    (deleteEvent)="delete($event)"
    (itemClickEvent)="onPlotClick($event)">
</app-map-plot-list-item>