.legend-container {
  position: fixed;
  width: calc(0.43 * var(--legendBoxSize));
  bottom: calc(0.15 * var(--legendBoxSize));
  right: calc(0.15 * var(--legendBoxSize));
  background-color: white;
  border-radius: calc(0.03 * var(--legendBoxSize));
  border-width: calc(0.015 * var(--legendBoxSize));
  padding: calc(0.04 * var(--legendBoxSize));
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1000;
}

.legend-scale {
  color: #555;
  display: flex;
  flex-direction: column-reverse;
}

.legend-scale i {
  width: calc(0.1 * var(--legendBoxSize));
  height: calc(0.1 * var(--legendBoxSize));
  float: left;
  opacity: 0.7;
}

.legend-ticks {
  position: absolute;
  font-size: calc(0.047 * var(--legendBoxSize));
  left: calc(0.015 * var(--legendBoxSize));
  top: calc(0.06 * var(--legendBoxSize));
}

.unit {
  --tw-rotate: 90deg;
  transform: var(--tw-transform);
  --tw-translate-x: calc(0.07 * var(--legendBoxSize));
  transform: var(--tw-transform);
  font-size: calc(0.055 * var(--legendBoxSize));
  white-space: nowrap;
}