# App
build/*
cache/*
config/secrets.jl
config/private.pem
config/public.pem
docs/build
log/*
session/*
cache/*
!*.gitkeep

# Vagrant
.vagrant
Vagrantfile

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.pyc

*.sqlite
# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode
.tags*
.tags

# NPM packages folder.
node_modules/

# Shapefiles for magics
public/shapefiles

# Loaded grib files
public/grib_files

public/extracted_met_data

public/flexpart_runs

public/ng_tests

sessions/
tmp/*
log/*

_scripts.jl