<div class="flex flex-col items-center w-full" style="gap: 1vh;">
  <!-- Variable selection dropdown -->
  <mat-form-field style="margin-top: 1vh;">
    <mat-select placeholder="Choose variable" [(value)]="selectedCategory" (selectionChange)="onCategoryChange()">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Release selection dropdown -->
  <mat-form-field *ngIf="selectedCategory">
    <mat-select placeholder="Choose release" [(value)]="selectedLayer">
      <!-- Show loading spinner while fetching releases -->
      <mat-option *ngIf="isLoading" disabled>
        <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
          <mat-spinner diameter="24"></mat-spinner>
        </div>
      </mat-option>
      <!-- Show layers once loaded -->
      <mat-option *ngFor="let layer of getLayersForCategory(selectedCategory)" [value]="layer" (click)="onClick(layer)">
        {{ layer }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>