<!-- <app-selection-list class="selection" [elements] = "fpOutputVar2D$ | async" (selected)="goToVariable($event)"></app-selection-list>

<ng-container
*ngIf="(fpOutput$ | async) as fpOutput"
>
    <ng-container
    *ngIf="(selectedVar$ | async) as selectedVar"
    >
    <app-output-form
        [fpOutput] = "fpOutput"
        [selectedVar] = "selectedVar"
    ></app-output-form>

    </ng-container>
</ng-container> -->

<ng-container *ngIf="spatialLayers$ | async as spatialLayers">
    <mat-selection-list class="listbox" [multiple]="false">
        <mat-list-option class="list-item" *ngFor="let layer of spatialLayers;" routerLink="dimensions/{{layer}}">
            {{ layer }}
        </mat-list-option>
    </mat-selection-list>
    <router-outlet></router-outlet>
</ng-container>