<mat-form-field
class="form-control"
appearance="outline"
floatLabel="never">
<mat-label> {{ label }} </mat-label>
  <input class="datetime-picker" matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="control"
     [min]="min ? min: ''" [max]="max ? max : ''">
  <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
  <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
     [stepHour]="steps.hour" [stepMinute]="steps.minute" [stepSecond]="steps.second"
     [touchUi]="true" [color]="'primary'" [enableMeridian]="false"
     [disableMinute]="steps.minute == 0 ? true : false"
     [hideTime]="false">
  </ngx-mat-datetime-picker>
</mat-form-field>
