.sidebar {
    min-width: $sidebarMinWidth;
    background-color: $sidebarBackground;
    background-image: linear-gradient(rgb(78, 115, 223) 10%, rgb(34, 74, 190) 100%);
    background-size: cover;
    letter-spacing: 0.05rem;
    height: 100vh;
    .sidebar-brand {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        padding: 16px 16px;
    }

    // .model-accordion {
    //     padding-top: 1em;
    // }

    .model-accordion-input {
        display: none;
    }

    .model-accordion-label {
        display: block;
        cursor: pointer;
        position: relative;
        color: white;
        font-weight: 700;
        padding: 0.5em;
        margin: 0;
        transition: background 0.3s;
        &:hover{
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .model-accordion-label::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 12px;
        height: 6px;
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
        background-size: contain;
        transition: transform 0.4s;
    }

    .model-accordion-input:checked ~ .model-accordion-content {
        display: block;
    }

    .model-accordion-input:checked ~ .model-accordion-label::after {
        transform: translateY(-50%) rotate(0.5turn);
    }

    .model-accordion-content {
        display: none;
    }

    .nav-item.active .nav-link {
        font-weight: 700;
        color: white;
    }

    a.nav-link {
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.85rem;
        padding: 0.7em;
        padding-left: 1.5em;
        display: block;
        letter-spacing: -0.02rem;
        &:hover{
            color: rgba(255, 255, 255, 1);
            cursor: pointer;
        }
    }
    a.logout {
        margin: 0.5em;
        margin-top: 1em;
        padding: 0.5em;
        text-align: center;
        background-color: rgba($color: #eb3f3f, $alpha: 0.6);
        border-radius: 4px;
    }
    .user-info {
        color: rgba(255, 255, 255, 1);
        padding: 1em;
        div:nth-child(odd) {
            font-size: 0.8rem;
        }
        div:nth-child(even) {
            font-size: 1rem;
            padding-left: 8px;
        }
    }
}

.sidebar-divider {
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0;
    margin: 0 1em;   
}

@media all and (max-width: $widthForSidebarChange) {
    .hamburger {
        position: fixed;
        top: 5px;
        left: 5px;
        background: $sidebarBackground;
        border-radius: 5px;
        width: 35px;
        cursor: pointer;
        z-index: 1000000;
        .line {
            height: 3px;
            background: #fff;
            margin: 5px 8px;
            border-radius: 5px;
        }
    }

    .sidebar {
        // @include sidebar;
        position: absolute;
        left: 0px;
        width: 14rem;
        z-index: 100000;
        transform: translateX(-14rem);
        // transition: transform 0.5s ease-in;
    }

    .sidebar.open {
        transform: translateX(0);
        transition: transform 0.5s ease-in;
    }
}

// @media (orientation: landscape | portrait) {

// }