.sidebar {
    min-width: $sidebarMinWidth;
    background-color: $sidebarBackground;
    background-image: linear-gradient(rgb(78, 115, 223) 10%, rgb(34, 74, 190) 100%);
    background-size: cover;
    letter-spacing: 0.05rem;
    height: 100vh;
    .sidebar-brand {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        padding: 16px 16px;
    }

    .nav-item.active .nav-link {
        font-weight: 700;
        color: white;
    }

    a.nav-link {
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.85rem;
        padding: 16px;
        display: block;
        letter-spacing: -0.02rem;
        &:hover{
            color: rgba(255, 255, 255, 1);
            cursor: pointer;
        }
    }
    a.logout {
        margin: 0.5em;
        margin-top: 1em;
        padding: 0.5em;
        text-align: center;
        background-color: rgba($color: #eb3f3f, $alpha: 0.6);
        border-radius: 4px;
    }
}

.sidebar-divider {
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0;
    margin: 0 1em;   
}

@media all and (max-width: 1024px) {
    .hamburger {
        position: fixed;
        top: 5px;
        left: 5px;
        background: $sidebarBackground;
        border-radius: 5px;
        width: 35px;
        cursor: pointer;
        z-index: 1000000;
        .line {
            height: 3px;
            background: #fff;
            margin: 5px 8px;
            border-radius: 5px;
        }
    }

    .sidebar {
        // @include sidebar;
        position: absolute;
        left: 0px;
        width: 14rem;
        z-index: 100000;
        transform: translateX(-14rem);
        // transition: transform 0.5s ease-in;
    }

    .sidebar.open {
        transform: translateX(0);
        transition: transform 0.5s ease-in;
    }
}

// @media (orientation: landscape | portrait) {

// }