* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

html body {
  color: #858796;
  min-height: 100%;
}

html body #wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
}

html body #wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  height: 100vh;
}

html body #wrapper #content-wrapper #content {
  background-color: #f8f9fc;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body #wrapper #content-wrapper #content .container-fluid {
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mymodal .mymodal-dialog {
  background: #fefefe;
  border: grey solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  z-index: 100000001;
  width: 355px;
  display: none;
  max-height: 550px;
  overflow-y: scroll;
}

.mymodal::before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  z-index: 100000000;
}

.mymodal:target::before {
  display: block;
}

.mymodal:target .mymodal-dialog {
  display: block;
}

.mymodal .mymodal-header {
  padding: 0.5em 1em;
  border-bottom: grey solid 1px;
}

.mymodal .mymodal-header h2 {
  font-size: 20px;
}

.mymodal .mymodal-body {
  padding: 0.5em 1em;
}

.mymodal .btn-close {
  color: grey;
  font-size: 20px;
  font-weight: 1000;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 5px;
}

.mymodal .btn-close:hover {
  color: #676767;
}

.box-arrow {
  width: 18px;
  height: 18px;
  background-color: grey;
  border-radius: 2px;
  cursor: pointer;
}

.box-arrow .arrow {
  margin: 5px auto;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.box-arrow .arrow.down {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.qmark {
  position: relative;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.qmark:hover {
  cursor: pointer;
}

.qmark::after {
  position: absolute;
  right: 0px;
  top: 0px;
  content: "?";
  color: #fff;
  background-color: grey;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 100%;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px #bbb;
          box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin: 0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.even-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.accordion-input {
  display: none;
}

.accordion-label {
  display: block;
  position: relative;
}

.accordion-label::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.accordion-input:checked ~ .accordion-content {
  display: block;
}

.accordion-input:checked ~ .accordion-label::after {
  -webkit-transform: translateY(-50%) rotate(0.5turn);
          transform: translateY(-50%) rotate(0.5turn);
}

.accordion-content {
  display: none;
}

.tab-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tab-wrapper .tab-label {
  padding: 1em;
  margin: 0;
  background: #e2e2e2;
  font-weight: bold;
  cursor: pointer;
}

.tab-wrapper .tab-label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.tab-wrapper .tab-content {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: none;
}

.tab-wrapper .tab-input {
  display: none;
}

.tab-wrapper .tab-input:checked + .tab-label + .tab-content {
  display: block;
}

.login-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-bg .login-container {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  padding: 3em;
  -webkit-box-shadow: -2px 4px 40px 3px rgba(0, 0, 0, 0.73);
  box-shadow: -2px 4px 40px 3px rgba(0, 0, 0, 0.73);
}

.sidebar {
  min-width: 14rem;
  background-color: #4e73df;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
  background-image: linear-gradient(#4e73df 10%, #224abe 100%);
  background-size: cover;
  letter-spacing: 0.05rem;
  height: 100vh;
}

.sidebar .sidebar-brand {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  padding: 16px 16px;
}

.sidebar .model-accordion-label {
  cursor: pointer;
  color: white;
  font-weight: 700;
  padding: 0.5em;
  margin: 0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.sidebar .model-accordion-label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.sidebar .nav-item.active .nav-link {
  font-weight: 700;
  color: white;
}

.sidebar a.nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.85rem;
  padding: 0.7em;
  padding-left: 1.5em;
  display: block;
  letter-spacing: -0.02rem;
}

.sidebar a.nav-link:hover {
  color: white;
  cursor: pointer;
}

.sidebar a.logout {
  margin: 0.5em;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  background-color: rgba(235, 63, 63, 0.6);
  border-radius: 4px;
}

.sidebar .user-info {
  color: white;
  padding: 1em;
}

.sidebar .user-info div:nth-child(odd) {
  font-size: 0.8rem;
}

.sidebar .user-info div:nth-child(even) {
  font-size: 1rem;
  padding-left: 8px;
}

.sidebar-divider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0;
  margin: 0 1em;
}

@media all and (max-width: 1024px) {
  .hamburger {
    position: fixed;
    top: 5px;
    left: 5px;
    background: #4e73df;
    border-radius: 5px;
    width: 35px;
    cursor: pointer;
    z-index: 1000000;
  }
  .hamburger .line {
    height: 3px;
    background: #fff;
    margin: 5px 8px;
    border-radius: 5px;
  }
  .sidebar {
    position: absolute;
    left: 0px;
    width: 14rem;
    z-index: 100000;
    -webkit-transform: translateX(-14rem);
            transform: translateX(-14rem);
  }
  .sidebar.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
}

.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.dashboard-container a.dashboard-link {
  margin: 1em;
  text-decoration: none;
  color: inherit;
}

.dashboard-container a.dashboard-link .card {
  width: 18em;
  height: 24em;
}

.dashboard-container a.dashboard-link .card img {
  height: 186px;
}

.loaded-data-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media (max-width: 780px) {
  .loaded-data-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.checkedform {
  position: relative;
}

.checkedform .error-notif {
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 300px;
  font-weight: 700;
  font-size: 0.7rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 5px;
  padding: 1em 1.5em;
  display: none;
}

.loaded-data-info {
  position: relative;
  border-collapse: collapse;
  margin: 0.2em;
  font-size: 0.9em;
  min-width: 330px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 780px) {
  .loaded-data-info tbody {
    display: none;
  }
}

.loaded-data-info thead tr {
  background-color: #009879;
  color: #fff;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

.loaded-data-info thead tr .toggle-loaded-info {
  position: absolute;
  top: 5px;
  right: 5px;
}

.loaded-data-info th,
.loaded-data-info td {
  padding: 0.5em 15px;
}

.loaded-data-info tbody tr {
  border-bottom: 1px solid #ddd;
}

.loaded-data-info tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.loaded-data-info tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.loaded-data-info tbody tr:hover {
  background-color: bisque;
}

.loaded-data-info tbody tr td:nth-child(odd) {
  font-weight: 600;
}

.loaded-data-form {
  position: relative;
  max-width: 420px;
  min-width: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
  justify-items: start;
  /* grid-auto-rows: 100px; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* justify-items: end; */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 780px) {
  .loaded-data-form {
    max-width: none;
  }
}

.loaded-data-form .form-item {
  width: 100%;
  margin: 0;
}

.loaded-data-form button {
  width: 100%;
}

.loaded-data-form .load-other-btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 60%;
  padding: 0.5em 1em;
  background-color: #e0a800;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
}

.archive-form,
.realtime-form {
  width: 100%;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.archive-form .form-item,
.realtime-form .form-item {
  margin: 5px;
  min-width: 120px;
}

.archive-form .form-item button,
.realtime-form .form-item button {
  width: 100%;
  font-size: 0.8rem;
}

.atp-prediction-form {
  position: relative;
}

.atp-prediction-form #error_lonlat_input {
  position: absolute;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
  font-weight: 700;
  font-size: 0.7rem;
  display: none;
}

.send-btn {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
}

.send-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.flexextract-form {
  margin: auto;
}

.flexextract-form .flexextract-btn {
  grid-column: span 2;
}

.grid-form {
  min-width: 300px;
  max-width: 550px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
}

.grid-form label {
  margin: 0;
}

@media (max-width: 375px) {
  .grid-form {
    max-width: 350px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.grid-form select,
.grid-form input {
  outline: none;
  border: 1px solid #ced4da;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid-form select:focus,
.grid-form input:focus {
  border-color: dodgerblue;
  -webkit-box-shadow: 0 0 4px 0 dodgerblue;
          box-shadow: 0 0 4px 0 dodgerblue;
}

.realtime-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}

.topbar {
  position: relative;
}

.topbar .toggle-topbar {
  position: absolute;
  top: 5px;
  right: 5px;
}

.topbar ul {
  height: 100%;
  margin: 0;
  padding: 0.5em;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
  row-gap: 0.5em;
}

@media (max-width: 1024px) {
  .topbar ul {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 320px) {
  .topbar ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.topbar ul .topbar-elem {
  font-size: 0.8em;
  color: azure;
  border-radius: 6px;
  text-align: center;
  padding: 0.5em;
}

.topbar ul .topbar-elem:hover {
  opacity: 0.5;
  cursor: pointer;
}

.topbar ul .topbar-elem.active {
  opacity: 0.5;
}

.topbar ul .topbar-elem.success {
  background-color: #28a745;
}

.topbar ul .topbar-elem.success::after {
  display: block;
  text-align: center;
  color: black;
  font-size: 0.8em;
  content: "Finished";
}

.topbar ul .topbar-elem.pending {
  background-color: #d39e00d9;
}

.topbar ul .topbar-elem.pending::after {
  display: block;
  text-align: center;
  color: black;
  font-size: 0.8em;
  content: "processing";
}

.topbar ul .topbar-elem.error {
  background-color: #e22d3e;
}

.topbar ul .topbar-elem.error::after {
  display: block;
  text-align: center;
  color: black;
  font-size: 0.8em;
  content: "Error";
}

.topbar .userfb {
  position: absolute;
  top: 100%;
  max-width: 700px;
  max-height: 700px;
  z-index: 10000;
  padding-left: 1em;
  padding-right: 1em;
  background-color: brown;
  display: none;
  line-height: 0.6em;
  background-color: #272822;
  border-radius: 6px;
  padding: 1em;
  margin: 0.5em 0.5em;
  overflow-x: scroll;
  overflow-y: scroll;
}

.topbar .userfb code {
  color: #f8f8f2;
  font-size: 0.6em;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.flexpart-preloaded-wrapper {
  width: 100%;
}

.flexpart-preloaded-wrapper .tab-label:hover {
  background: rgba(0, 0, 0, 0.3);
}

.flexpart-preloaded-wrapper .tab-input:checked + .tab-label, .flexpart-preloaded-wrapper .tab-input:checked + .tab-label + .tab-content {
  background-color: #f3f3f3;
}

.flexpart-preloaded-wrapper .tab-content {
  padding: 1em 0;
}

.flexpart-preloaded-wrapper .flexpart-preloaded-form {
  margin: 0;
  padding: 0.5em 0;
  -ms-grid-columns: minmax(0, 110px) minmax(0, 1fr) minmax(0, 110px) minmax(0, 1fr);
      grid-template-columns: minmax(0, 110px) minmax(0, 1fr) minmax(0, 110px) minmax(0, 1fr);
}

.flexpart-preloaded-wrapper .flexpart-preloaded-form .flexpart-run-btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

@media (max-width: 375px) {
  .flexpart-preloaded-wrapper .flexpart-preloaded-form {
    max-width: 320px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .flexpart-preloaded-wrapper .flexpart-preloaded-form .flexpart-run-btn {
    grid-column: span 2;
  }
}

.flexpart-preloaded-wrapper .flexpart-data-selection {
  width: 320px;
  min-width: 320px;
  height: 220px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexpart-preloaded-wrapper .flexpart-data-selection .title {
  text-align: center;
  font-weight: 700;
  padding: 0.5em;
  background-color: #dadada;
}

.flexpart-preloaded-wrapper .flexpart-data-selection .flexpart-selection {
  overflow-y: scroll;
  background: #fff;
}

.flexpart-preloaded-wrapper .flexpart-data-selection .flexpart-selection .accordion-input:checked ~ .accordion-label {
  font-weight: 500;
  background-color: #009879;
  color: #fff;
}

.flexpart-preloaded-wrapper .flexpart-data-selection .flexpart-selection .flexpart-selection-label {
  padding: 0.5em;
  margin: 0;
  cursor: pointer;
}

.flexpart-preloaded-wrapper .flexpart-data-selection .flexpart-selection .flexpart-selection-label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.flexpart-preloaded-wrapper .flexpart-data-selection .flexpart-selection .flexpart-selection-content {
  padding: 0 1em;
  background-color: #c7f0c5;
}

.flexpart-preloaded-wrapper .flexpart-data-selection .flexpart-selection .flexpart-selection-content .flexpart-selection-metadata {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.flexpart-preloaded-wrapper .flexpart-data-selection .flexpart-selection .flexpart-selection-content .flexpart-selection-metadata div:nth-child(odd) {
  font-weight: 500;
}

.flexpart-preloaded-wrapper .flexpart-data-selection .flexpart-selection .accordion-label::after {
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:grey;" /></svg>');
}

.flexpart-run-wrapper {
  width: 100%;
}

.flexpart-run-wrapper .svg-arrow {
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("/img/right_arrow.svg");
}

/* MAP STYLE */
.mymap-container {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  margin-top: 1em;
  border-style: ridge;
  border: 5px ridge;
}

.mymap-container #mapid {
  height: 100%;
}
/*# sourceMappingURL=main.css.map */