* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
}

html body {
  color: #858796;
  min-height: 100%;
}

html body #wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
}

html body #wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  height: 100vh;
}

html body #wrapper #content-wrapper #content {
  background-color: #f8f9fc;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body #wrapper #content-wrapper #content .topbar {
  height: 70px;
}

html body #wrapper #content-wrapper #content .container-fluid {
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar {
  min-width: 14rem;
  background-color: #4e73df;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
  background-image: linear-gradient(#4e73df 10%, #224abe 100%);
  background-size: cover;
  background-size: cover;
  letter-spacing: 0.05rem;
}

.sidebar .sidebar-brand {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  padding: 16px 16px;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 700;
  color: white;
}

.sidebar a.nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.85rem;
  padding: 16px;
  display: block;
  letter-spacing: -0.02rem;
}

.sidebar a.nav-link:hover {
  color: white;
  cursor: pointer;
}

.sidebar-divider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0;
  margin: 0 1em;
}

.loaded-data-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.loaded-data-info {
  border-radius: 5px;
  background-color: white;
  color: black;
  margin-bottom: 1em;
  padding: 0.3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 0em;
          column-gap: 0em;
  row-gap: 0.5em;
  justify-items: start;
}

.loaded-data-info span:nth-child(odd) {
  font-weight: 700;
}

.loaded-data-info span:nth-child(even) {
  color: #222;
}

.loaded-data-form {
  position: relative;
  max-width: 420px;
  min-width: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
  justify-items: start;
  /* grid-auto-rows: 100px; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* justify-items: end; */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.loaded-data-form .form-item {
  width: 100%;
  margin: 0;
}

.loaded-data-form button {
  width: 100%;
}

.loaded-data-form .load-other-btn {
  margin-top: 1em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
}

.archive-form, .realtime-form {
  width: 100%;
  min-width: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.archive-form .form-item, .realtime-form .form-item {
  margin: 5px;
}

.archive-form .form-item button, .realtime-form .form-item button {
  width: 100%;
  font-size: 0.8rem;
}

.archive-form .archive-form-btn, .realtime-form .archive-form-btn {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.atp-prediction-form {
  position: relative;
}

.atp-prediction-form #error_lonlat_input {
  position: absolute;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
  font-weight: 700;
  font-size: 0.7rem;
  display: none;
}

.realtime-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topbar {
  position: relative;
}

.topbar ul {
  height: 100%;
  margin: 0;
  padding: 0.5em;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
}

.topbar ul .topbar-elem {
  font-size: 0.8em;
  color: azure;
  border-radius: 6px;
  text-align: center;
  padding-top: 0.5em;
}

.topbar ul .topbar-elem:hover {
  opacity: 0.5;
  cursor: pointer;
}

.topbar ul .topbar-elem.active {
  opacity: 0.5;
}

.topbar ul .topbar-elem.success {
  background-color: #28a745;
}

.topbar ul .topbar-elem.success::after {
  display: block;
  text-align: center;
  color: black;
  font-size: 0.8em;
  content: "Finished";
}

.topbar ul .topbar-elem.pending {
  background-color: #d39e00d9;
}

.topbar ul .topbar-elem.pending::after {
  display: block;
  text-align: center;
  color: black;
  font-size: 0.8em;
  content: "processing";
}

.topbar ul .topbar-elem.error {
  background-color: #e22d3e;
}

.topbar ul .topbar-elem.error::after {
  display: block;
  text-align: center;
  color: black;
  font-size: 0.8em;
  content: "Error";
}

.topbar .userfb {
  position: absolute;
  top: 100%;
  max-width: 700px;
  max-height: 700px;
  z-index: 10000;
  padding-left: 1em;
  padding-right: 1em;
  background-color: brown;
  display: none;
  line-height: 0.6em;
  background-color: #272822;
  border-radius: 6px;
  padding: 1em;
  margin: 0.5em 0.5em;
  overflow-x: scroll;
  overflow-y: scroll;
}

.topbar .userfb code {
  color: #f8f8f2;
  font-size: 0.6em;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

/* MAP STYLE */
.mymap-container {
  height: 100%;
  width: 100%;
  min-width: 500px;
  min-height: 500px;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  margin-top: 1em;
  border-style: ridge;
  border: 5px ridge;
}

.mymap-container #mapid {
  height: 100%;
}
/*# sourceMappingURL=main.css.map */