/* You can add global styles to this file, and also import other style files */
:root {
  --sidebarMinWidth: 14rem;
  --sidebarBackground: rgb(78, 115, 223);
  --sideColor: aliceblue;
  --smallWidth: 320px;
  --widthForDisplayChange: 780px;
  --widthForSidebarChange: 1024px;
  --formFontSize: 12px;
  --toolbarHeight: 44px;
}

@mixin flexDir($dir) {
    display: flex;
    flex-direction: $dir;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    body {
        color: rgb(133, 135, 150);
        min-height: 100%;
        margin: 0;

        .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
        .mat-form-field-label-wrapper { top: -1.5em; }

        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.1em) scale(.75);
            width: 133.33333%;
        }
        .mat-form-field-outline { background-color: white; }
    }
}

.selection-table.table-container {
    min-height: 140px;
    max-height: 180px;
    overflow: auto;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    margin-bottom: 1em;

    .mat-row, .mat-header-row {
        height: auto;
    }
    
    .mat-row:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
    }
    .mat-cell {
        font-size: var(--formFontSize);
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    
    .mat-header-cell {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
}

.right-side-container {
    position: fixed;
    top: var(--toolbarHeight);
    right: 0;
    // width: 120px;
    background-color: var(--sidebarBackground);
    color: white;
    // max-width: 365px;
    z-index: 100000; 
}

form {
    // min-width: 320px;
    margin: auto;
    max-width: 690px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: repeat(4, minmax(0, 1fr));
    // column-gap: 1em;
    // row-gap: 1em;
    // @media (max-width: 375px) {
    //     max-width: 350px;
    //     grid-template-columns: repeat(2, 1fr);
    // }

    .form-control {
        width: 160px;
    }

    button {
        width: 160px;
        margin-bottom: 18.8px;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leaflet-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.leaflet-info {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
    display: flex;
    flex-direction: column-reverse;
    width: 70px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    // margin-right: 8px;
    opacity: 0.7;
}

.legend-ticklabel {
    font-size: 10px;
    /* float: right; */
    position: absolute;
}

.legend-ticks-container {
    position: relative;
}

.legend-ticklabel:nth-of-type(1) {
    transform: translateY(-11px)
}

.legend-ticklabel:nth-of-type(2) {
    transform: translateY(11px) 
}

.map-plot-list {
    mat-list-item {
        height: 36px;
    }
//     .mat-expansion-panel-body {
//         padding: 10px;
//     }
}