<mat-toolbar class="topbar">
    <div class="topbar-title">
        <button class="icon-button" mat-icon-button (click)="toggleNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">
          CbrnAlert
        </h1>
        <div class="username" *ngIf="currentUser$ | async as currentUser">
          User: {{ currentUser.username }}
        </div>
    </div>
    <div class="topbar-icons">
        <button class="icon-button" mat-icon-button (click)="onPlotList()">
            <mat-icon>view_list</mat-icon>
        </button>
        <button class="icon-button" mat-icon-button (click)="onNotif()">
            <mat-icon>notifications</mat-icon>
            <span *ngIf="hasNewNotif" matBadge="&#8288;" matBadgeColor="warn" matBadgeSize="small"></span>
        </button>
        <button class="logout-button" mat-raised-button color="warn" (click)="onLogout()">
          Log-out
        </button>
    </div>
</mat-toolbar>

<app-notification *ngIf="showNotifs" class="right-side-container"></app-notification>

<app-map-plot-list *ngIf="showPlotList" class="right-side-container"></app-map-plot-list>
