<div class="flex items-center space-x-10">
  <mat-select panelClass="meteo-input" placeholder="Meteo data" class="p-2 cursor-pointer hover:bg-gray-50" *ngIf="inputs$ | async as inputs">
    <mat-option *ngIf="isLoading">
      <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
    </mat-option>
    <mat-option *ngIf="!isLoading && inputs.length === 0" disabled>
      <span>No meteo data available - Retrieve data first</span>
    </mat-option>
    <mat-option *ngFor="let input of inputs; let index = index" [value]="input.uuid" (click)="onClick(input)">
      <span>
        {{ input.name }} - {{ input.date_created | date:'dd/MM/yy - HH:mm' }}
      </span>
    </mat-option>
  </mat-select>
  <button (click)="rename(value, name)">
    <fa-icon icon="pen"></fa-icon>
  </button>
  <button (click)="delete(value)">
    <fa-icon icon="trash"></fa-icon>
  </button>
</div>