<!-- <form [formGroup] = "dynamicForm">
    <app-autoformat-select
    *ngFor="let item of items;"
    [label] = "item.label"
    [formGroup] = "dynamicForm"
    [values] = "formService.optionsToArray(item.options)"
    ></app-autoformat-select>
</form> -->

<div [formGroup]="formGroup">
    <div [ngSwitch]="item.controlType">
        <ng-container
        *ngSwitchCase="'textbox'"
        >
            <mat-form-field 
            *ngIf="item.type !== 'mapObject'"
            class="form-control" 
            appearance="outline" 
            floatLabel="never">
                <mat-label> {{ item.label }} </mat-label>
                <input 
                matInput 
                [formControlName]="item.key"
                [value]="item.value || '' ">
                <mat-hint>{{ item.hint }}</mat-hint>
                <!-- <mat-error *ngIf="(item.key | formControl).invalid"> error ! </mat-error> -->
            </mat-form-field>
            <map-object-input
            *ngIf="item.type === 'mapObject'"
            [item]="item" 
            [formControlName]="item.key"
            ></map-object-input>
        </ng-container>

        <ng-container *ngSwitchCase="'select'">
            <app-autoformat-select
            *ngIf="item.type !== 'mapObject'"
            [item]="item" 
            [formControlName]="item.key">
            </app-autoformat-select>
            <app-map-object-select
            *ngIf="item.type === 'mapObject'"
            [item]="item" 
            [formControlName]="item.key">
            </app-map-object-select>
        </ng-container>

        <ng-container *ngSwitchCase="'datepicker'">
            <mat-form-field 
            class="form-control" 
            appearance="outline" 
            floatLabel="never">
            <mat-label> {{ item.label }} </mat-label>
            <input
                *ngIf="item.minmax !== undefined"
                matInput 
                [matDatepicker]="picker" 
                [min]="item.minmax.min" 
                [max]="item.minmax.max" 
                [formControlName]="item.key">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </ng-container>

    </div>

    <!-- <div class="errorMessage" *ngIf="!isValid">{{item.label}} is required</div> -->
</div>