<div>
    <input class="flexpart-selection-input accordion-input" type="radio" name="flexpart-selection-radio" id="$(met_data[:dirname])" data-metadata='$(met_data[:json_data])'>
    <label class="flexpart-selection-label accordion-label" for="$(met_data[:dirname])">$(met_data[:dirname])</label>
    <div class="flexpart-selection-content accordion-content">
        <div class="flexpart-selection-metadata">
            <div>Start date :</div> <div>$(met_data[:metadata][:startdate])</div>
            <div>Start time :</div> <div>$(met_data[:metadata][:starttime])</div>
            <div>End date :</div> <div>$(met_data[:metadata][:enddate])</div>
            <div>End time :</div> <div>$(met_data[:metadata][:endtime])</div>
            <div>Time step :</div> <div>$(met_data[:metadata][:timestep])</div>
            <div>Grid res :</div> <div>$(met_data[:metadata][:gridres])</div>
            <div>Area :</div> <div>$(met_data[:metadata][:area])</div>
        </div>
    </div>
</div>