<div class="flexextract-form grid-form checkedform">
    <label for="flexextract_startdate" title="Starting date ">Starting date</label>
    <input type="date" id="flexextract_startdate">

    <label for="flexextract_starttime">Starting time [h]</label>
    <select name="flexextract_starttime" id="flexextract_starttime">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
    </select>
    <label for="flexextract_enddate">End date</label>
    <input type="date" id="flexextract_enddate">

    <label for="flexextract_endtime">End time [h]</label>
    <select name="flexextract_endtime" id="flexextract_endtime">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
    </select>
    <label for="flexextract_step">Time step [h]</label>
    <select name="flexextract_step" id="flexextract_step">
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="6">6</option>
    </select>
    <label for="flexextract_grid">Grid res. [°]</label>
    <select name="flexextract_grid" id="flexextract_grid">
        <option value="0.1">0.1</option>
        <option value="0.2">0.2</option>
        <option value="0.5">0.5</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <label class="qmark" for="flexextract_area" title="Select an area on the map by clicking on the square in the toolbar map">Area to retrieve</label>
    <input class="text-area" type="text" id="flexextract_area" value="" disabled>

    <button class="send-btn flexextract-btn" id="flexextract_req_btn">Request met data</button>
</div>

<%
partial(joinpath(Genie.config.path_resources, "shared", "_map.jl.html"))
%>

<script>
    let dates = document.getElementsByTagName("input")
    let today = new Date().toISOString().split("T")[0]
    for (let i = 0; i < dates.length; i++) {
        if(dates[i].type.toLowerCase() == 'date') {
            dates[i].setAttribute("value", today);
        }
    }
</script>