<div class="tab-wrapper flexpart-preloaded-wrapper">
    <input class="tab-input" type="radio" id="tab1" name="flexpart_run_tab" checked>
    <label class="tab-label" for="tab1">Run Flexpart</label>
    <div class="tab-content">
        <div class="flexpart-run-wrapper even-wrap">
            <div class="flexpart-data-selection">
                <div class="title">Available data on the server: </div>
                <div class="flexpart-selection accordion">
                    <% @foreach(available_met_data) do met_data 
                    partial(joinpath(Genie.config.path_resources, "flexpart", "views" , "_available_met_data.jl.html" ), context=@__MODULE__, met_data=met_data) 
                    end %>
                </div>
            </div>
            <div class="flexpart-preloaded-form flexpart-form grid-form checkedform">
                <label for="lat">Release Lat.</label>
                <input class="lonlat" type="text" name="lat" id="lat" required>
                <label for="lon">Release Lon.</label>
                <input class="lonlat" type="text" name="lon" id="lon" required>
                <label for="flexpart_startdatetime">Starting time</label>
                <select id="flexpart_startdatetime">
                    <option value="">YYYY-MM-DD @ HH</option>
                </select> 
                <label for="flexpart_enddatetime">End time</label>
                <select id="flexpart_enddatetime">
                    <option value="">YYYY-MM-DD @ HH</option>
                </select>
                <label for="flexpart_releasestartdatetime">Release start time</label>
                <select id="flexpart_releasestartdatetime">
                    <option value="">YYYY-MM-DD @ HH</option>
                </select> 
                <label for="flexpart_releaseenddatetime">Release end time</label>
                <select id="flexpart_releaseenddatetime">
                    <option value="">YYYY-MM-DD @ HH</option>
                </select>
                <label for="flexpart_releaseheight">Rel. height [m]</label>
                <input type="text" id="flexpart_releaseheight" value="50">
                <label for="flexpart_particules">Nbr of particules</label>
                <input type="text" id="flexpart_particules" value="1000">
                <label for="flexpart_grid">Grid res. [°]</label>
                <input type="text" id="flexpart_grid" value="0.05">
                <label for="flexpart_step">Time step [h]</label>
                <select name="flexpart_step" id="flexpart_step">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="6">6</option>
                </select>
                <label class="qmark" for="flexpart_area" title="Select an area on the map by clicking on the square in the toolbar map">Calculation Area</label>
                <input class="text-area" type="text" id="flexpart_area" value="" disabled>
        
                <button class="send-btn flexpart-run-btn" id="flexpart_req_btn">Run flexpart model</button>
            </div>
        </div>
    </div>
    <input class="tab-input" type="radio" id="tab2" name="flexpart_run_tab">
    <label class="tab-label" for="tab2">Plot</label>
    <div class="tab-content">
        <div class="flexpart-plot-wrapper even-wrap">
            <div class="flexpart-data-selection">
                <div class="title">Available flexpart runs: </div>
                <div class="flexpart-selection accordion">
                    <% @foreach(available_fp_runs) do data_dict %>
                    <div>
                        <input class="flexpart-selection-input accordion-input" type="radio" name="flexpart-run-radio" id="$(data_dict[:dirname])" data-metadata='$(data_dict[:json_data])'>
                        <label class="flexpart-selection-label accordion-label" for="$(data_dict[:dirname])">$(data_dict[:dirname])</label>
                        <div class="flexpart-selection-content accordion-content">
                            <div class="flexpart-selection-metadata">
                                <div>Starting time :</div> <div>$(data_dict[:metadata][:startdatetime])</div>
                                <div>End time :</div> <div>$(data_dict[:metadata][:enddatetime])</div>
                                <div>End time :</div> <div>$(data_dict[:metadata][:enddatetime])</div>
                                <div>Area :</div> <div>$(data_dict[:metadata][:area])</div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>

            <div class="flexpart-preloaded-form flexpart-form grid-form">
                <label for="flexpart_plot_time">Time: </label>
                <select id="flexpart_plot_time">
                </select>
                <label for="flexpart_plot_height">Height: </label>
                <select id="flexpart_plot_height">
                </select> 
                <button class="send-btn flexpart-run-btn" id="flexpart_plot_btn">Plot flexpart output</button>
            </div>
        </div>
    </div>
</div>

<% partial(joinpath(Genie.config.path_resources, "shared" , "_map.jl.html" )) %> 