<form fxLayout="row wrap" class="loaded-data-form atp-prediction-form" [formGroup]="preloadedForm">
    <mat-form-field class="form-control" appearance="outline" *ngFor="let formItem of formItems">
        <mat-label> {{ formItem.label }} </mat-label>
        <input matInput *ngIf="formItem.type == 'input'" [formControlName]="formItem.controlName">
        <select matNativeControl *ngIf="formItem.type == 'select'" [formControlName]="formItem.controlName">

        </select>
        <mat-hint *ngIf="formItem.hint !== undefined">{{ formItem.hint }}</mat-hint>
        <!-- <mat-error *ngIf="formItem.controlName.invalid"> error ! </mat-error> -->
    </mat-form-field>
</form>

