<form action="$(Genie.Router.linkto(:send_input))" method="post" style="width: 500px; margin:auto">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="lat">Latitude</label>
        <input class="form-control" type="text" name="lat" id="lat" required>
      </div>
      <div class="form-group">
        <label for="lon">Longitude</label>
        <input class="form-control" type="text" name="lon" id="lon" required>
      </div>
      <div class="form-group">
        <button class="btn" type="submit">Submit</button>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="select_date">Date</label>
        <select class="form-control" name="select_date" id="select_date">
          <% @foreach(dates) do date %>
          <option>$(date)</option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <label for="select_time">Time</label>
        <select class="form-control" name="select_time" id="select_time">
          <% @foreach(times) do time %>
          <option>$(time)</option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <label for="select_step">Step</label>
        <select class="form-control" name="select_step" id="select_step">
          <% @foreach(steps) do step %>
          <option>$(step)</option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</form>

