<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <app-dynamic-form
    *ngFor="let item of formItems.items;"
    [formGroup]="formGroup"
    [item]="item"
    ></app-dynamic-form>

    <ng-container
    *ngIf = "nestedItems.length !== 0">
        <app-dynamic-form
        *ngFor="let item of nestedItems;"
        [formGroup]="formGroup"
        [item]="item"
        ></app-dynamic-form>
    </ng-container>

    <button
    mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Plot on map</button>
</form>

<button
mat-raised-button color="primary" (click)="onDailyAverage()">Calc. daily average</button>

