<div class="dashboard-container">
    <a class="dashboard-link" href="$(Genie.Router.linkto(:archive_data))">
        <div class="card">
        <img class="card-img-top" src="img/dashboard/archive.jpg" alt="archive  image">
        <div class="card-body">
            <h5 class="card-title">Retrieve archive data</h5>
            <p class="card-text">Retrieval of archive weather forecasts data from ECMWF that can be loaded and
                used afterwards.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </a>
    
    <a class="dashboard-link" href="$(Genie.Router.linkto(:preloaded_atp_prediction))">
        <div class="card">
            <img class="card-img-top" src="img/dashboard/magics_tuto.PNG" alt="preloaded data image">
            <div class="card-body">
                <h5 class="card-title">ATP-45 prediction on preloaded data</h5>
                <p class="card-text">Requests of ATP-45 predictions on data that have been preloaded on the server through archive data requests.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </a>

    <a class="dashboard-link" href="$(Genie.Router.linkto(:realtime_atp_prediction))">
        <div class="card">
            <img class="card-img-top" src="img/dashboard/realtime_fc.jpg" alt="realtime forecast image">
            <div class="card-body">
                <h5 class="card-title">ATP-45 prediction on realtime forecasts</h5>
                <p class="card-text">Requests of ATP-45 predictions with real time weather forecast data.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </a>
</div>