    <form [formGroup]="form" style="display: flex; align-items: center; gap: 1vw;">
  
      <div *ngFor="let question of questions">
        <div *ngIf="question.key !== 'pointspec' && question.key !== 'nageclass'" class="form-row" style="text-transform: capitalize;">
          <app-question [question]="question" [form]="form"></app-question>
        </div>
      </div>
  
      <!-- <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div> -->
    </form>
  
    <!-- <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div> -->