<div class="parent-box">
    <div class="banner">
        Authentification
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-box">
        <mat-form-field
            class = "fields-login"
            appearance="fill">
            <mat-label> Email </mat-label>
            <input
                matInput
                formControlName="email">
        </mat-form-field>
        <mat-form-field
        class = "fields-login"
        appearance="fill">
            <mat-label> Password </mat-label>
            <input
                matInput
                type="password"
                formControlName="password">
        </mat-form-field>
        <div *ngIf="errorMessage$ | async as errorMessage" class="error-login">
          {{errorMessage}}
        </div>
        <button mat-raised-button class="button-login" color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
        </button>
    </form>
  </div>