<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ title }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- <mat-action-list> -->
        <!-- <mat-list-item >
            Plot {{ plot.id }} 
            <button mat-icon-button (click)="onToggleVisibility(plot)">
                <mat-icon class="plot-list-icon"> {{ plot.visible ? 'visibility_off' : 'visibility' }} </mat-icon> 
            </button>
            <button mat-icon-button (click)="onDelete(plot.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item> -->
    <!-- </mat-action-list> -->
    <!-- <mat-selection-list>
        <mat-list-option *ngFor="let plot of plots" checkboxPosition='before'>
            <div class="content">
                {{ plot.name }}             
                <button mat-icon-button (click)="onDelete(plot.id)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </mat-list-option>
    </mat-selection-list> -->
    <mat-action-list dense>
        <mat-list-item mat-ripple class="list-item" *ngFor="let plot of plots" checkboxPosition='before' [ngClass]="{'active' : plot.isActive}">
            <div class="content">
                <mat-checkbox [checked]="plot.visible" (change)="onToggleVisibility(plot)" click-stop-propagation></mat-checkbox>
                <span class="clickable" (click)="onItemClick(plot.id)">
                    {{ plot.name }}             
                </span>
                <button mat-icon-button (click)="onDelete(plot.id)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-action-list>
</mat-expansion-panel>