.dashboard-container {
    display: flex;
    flex-flow: row wrap;

    a.dashboard-link {
        margin: 1em;
        text-decoration: none;
        color: inherit;
        .card {
            width: 18em;
            height: 24em;
            img {
                height: 186px;
            }
        }
    }
}