.loaded-data-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @media (max-width: $widthForDisplayChange) {
        flex-direction: column;
        align-items: stretch;
    }
}

.checkedform {
    position: relative;

    .error-notif {
        position: absolute;
        justify-self: center;
        width: 300px;
        font-weight: 700;
        font-size: 0.7rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        border-radius: 5px;
        padding: 1em 1.5em;
        display: none;
    }
}

.loaded-data-info {
    position: relative;
    border-collapse: collapse;
    margin: 0.2em;
    font-size: 0.9em;
    min-width: 330px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    @media (max-width: $widthForDisplayChange) {
        tbody {
            display: none;
        }
    }

    thead tr {
        background-color: #009879;
        color: #fff;
        text-align: left;
        font-weight: bold;
        cursor: pointer;

        .toggle-loaded-info {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        // th:nth-child(1) {
        //     width: 170px;
        // }

        // th:nth-child(2) {
        //     width: 340px;
        // }
    }

    th,
    td {
        padding: 0.5em 15px;
    }

    tbody tr {
        border-bottom: 1px solid #ddd;
        &:nth-of-type(even) {
            background-color: #f3f3f3;
        }
        &:last-of-type {
            border-bottom: 2px solid #009879;
        }
        &:hover {
            background-color: bisque;
        }

        td:nth-child(odd) {
            font-weight: 600;
        }
    }
}

.loaded-data-form {
    position: relative;
    max-width: 420px;
    min-width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1em;
    row-gap: 1em;
    justify-items: start;
    /* grid-auto-rows: 100px; */
    /* grid-auto-rows: minmax(100px, auto); */
    /* justify-items: end; */
    align-items: start;

    @media (max-width: $widthForDisplayChange) {
        max-width: none;
    }

    .form-item {
        width: 100%;
        margin: 0;
    }

    button {
        width: 100%;
    }

    .load-other-btn {
        grid-column: 1/3;
        justify-self: center;
        width: 60%;
        padding: 0.5em 1em;
        background-color: #e0a800;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: white;
    }
}

.archive-form,
.realtime-form {
    width: 100%;
    min-width: 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    .form-item {
        margin: 5px;
        min-width: 120px;
        button {
            width: 100%;
            font-size: 0.8rem;
        }
    }
}

.atp-prediction-form {
    position: relative;

    #error_lonlat_input {
        position: absolute;
        grid-column: 1/3;
        grid-row: 1;
        justify-self: center;
        width: 70%;
        font-weight: 700;
        font-size: 0.7rem;
        display: none;
    }
}

.send-btn {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}
.flexextract-form {
    margin: auto;

    .flexextract-btn {
        grid-column: span 2;
    }
}

.grid-form {
    min-width: 300px;
    max-width: 550px;
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1em;
    row-gap: 1em;
    label {
        margin: 0;
    }
    @media (max-width: 375px) {
        max-width: 350px;
        grid-template-columns: repeat(2, 1fr);
    }
    select,
    input {
        outline: none;
        border: 1px solid rgb(206, 212, 218);
        transition: all 0.3s;
    }
    select:focus,
    input:focus {
        border-color: dodgerblue;
        box-shadow: 0 0 4px 0 dodgerblue;
    }
}