<ng-container *ngIf="fpOutputs$ | async as fpOutputs">
    <div class="flex justify-center">
        <mat-form-field style="margin-top: 1vh;">
            <mat-label>
                {{ fpOutputs[0].member === '' ? 'Deterministic results' : 'Ensemble results' }}
            </mat-label>
            <mat-select (selectionChange)="onClick($event.value)">
                <mat-option *ngFor="let fpOutput of fpOutputs" [value]="fpOutput.uuid">
                    {{ getDisplayName(fpOutput, fpOutputs[0].member) }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</ng-container>