<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <app-location [formGroup]="formGroup"></app-location>

    <mat-slide-toggle [checked]="withWind" (change)="withWind = !withWind">
        Provide wind data
    </mat-slide-toggle>
    <ng-container  *ngIf="!withWind">

        <!-- <app-forecast-time-select [formGroup] = "formGroup" [leadtimes]="$any(leadtimes$ | async)"></app-forecast-time-select> -->
        <app-forecast-time-select [formGroup] = "formGroup" [leadtimes]="leadtimes"></app-forecast-time-select>
    </ng-container>
    <app-wind-form *ngIf="withWind"  [formGroup]="formGroup"></app-wind-form>
    <button class="w-17 h-12 self-start"
    mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Run ATP45 Model</button>
</form>