<div class="archive-form">
    <div class="archive-form-item date-item">
        <label for="date_request">Date of the forecast</label>
        <input class="form-control date-picker" type="date" name="date_request" id="date_request" value="2020-12-10">
    </div>

    <div class="archive-form-item time-item">
        <label for="time-check">Select forecast starting time</label>
        <div class="form-check" id="time-check">
            <input checked class="form-check-input" type="checkbox" value="00:00:00" id="00:00:00">
            <label class="form-check-label" for="00:00:00">
                00:00:00
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="12:00:00" id="12:00:00">
            <label class="form-check-label" for="12:00:00">
                12:00:00
            </label>
        </div>
    </div>

    <div class="archive-form-item">
        <button type="button" class="btn btn-primary submit-item" id="archive_data_retrieve">Send data request</button>
    </div>
</div>