<div class="archive-form">
    <div class="archive-form-item date-item">
        <label for="date_from">From</label>
        <input class="form-control date-picker" type="date" name="date_from" id="date_from" value="2020-09-21">
        <label for="date_to">To</label>
        <input class="form-control date-picker" type="date" name="date_to" id="date_to" value="2020-09-23">
    </div>

    <div class="archive-form-item time-item">
        <label for="time-check">Select time</label>
        <div class="form-check" id="time-check">
            <input checked class="form-check-input" type="checkbox" value="00:00:00" id="00:00:00">
            <label class="form-check-label" for="00:00:00">
                00:00:00
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="12:00:00" id="12:00:00">
            <label class="form-check-label" for="12:00:00">
                12:00:00
            </label>
        </div>
    </div>

    <div class="archive-form-item step-item">
        <label for="select_step">Step</label>
        <select multiple class="form-control" id="select_step">
            <option selected>0</option>
            <option selected>6</option>
            <option>12</option>
            <option>18</option>
            <option>24</option>
            <option>30</option>
            <option>36</option>
            <option>42</option>
            <option>48</option>
            <option>54</option>
            <option>60</option>
            <option>66</option>
            <option>72</option>
            <option>78</option>
            <option>84</option>
            <option>90</option>
            <option>96</option>
            <option>102</option>
            <option>108</option>
            <option>114</option>
            <option>120</option>
            <option>126</option>
            <option>132</option>
            <option>138</option>
            <option>144</option>
            <option>150</option>
            <option>156</option>
            <option>162</option>
            <option>168</option>
            <option>174</option>
            <option>180</option>
            <option>186</option>
            <option>192</option>
            <option>198</option>
            <option>204</option>
            <option>210</option>
            <option>216</option>
            <option>222</option>
            <option>228</option>
            <option>234</option>
            <option>240</option>
            <option>246</option>
            <option>252</option>
            <option>258</option>
            <option>264</option>
            <option>270</option>
            <option>276</option>
            <option>282</option>
            <option>288</option>
            <option>294</option>
            <option>300</option>
            <option>306</option>
            <option>312</option>
            <option>318</option>
            <option>324</option>
            <option>330</option>
            <option>336</option>
            <option>342</option>
            <option>348</option>
            <option>354</option>
            <option>360</option>
            <option>366</option>
            <option>372</option>
            <option>378</option>
            <option>384</option>
        </select>
    </div>

    <div class="archive-form-item">
        <button type="button" class="btn btn-primary submit-item" id="archive_data_retrieve">Send data request</button>
    </div>
</div>