<div class="loaded-data-wrapper">

  <input hidden id="loaded_file" value=$(loaded_file)></input>

  <table class="loaded-data-info">
    <thead>
      <tr>
        <th></th>
        <th>Loaded data info</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name of the loaded file : </td>
        <td>$(loaded_data_info[:filename])</td>
      </tr>
      <tr>
        <td>Forecast start date : </td>
        <td>$(loaded_data_info[:date])</td>
      </tr>
      <tr>
        <td>Forecast start time : </td>
        <td>$(loaded_data_info[:time])</td>
      </tr>
      <tr>
        <td>Forecast duration : </td>
        <td>$(loaded_data_info[:hour_nbr]) hours</td>
      </tr>
      <tr>
        <td>Available area : </td>
        <td id="av-area">$(loaded_data_info[:area])</td>
      </tr>
    </tbody>
  </table>

  <form class="loaded-data-form atp-prediction-form" action="" method="post">
    <div class="alert alert-danger" id="error_lonlat_input"></div>
    <div class="form-group form-item">
      <label for="lat">Latitude</label>
      <input class="form-control lonlat" type="text" name="lat" id="lat" required>
    </div>
    <div class="form-group form-item">
      <label for="lon">Longitude</label>
      <input class="form-control lonlat" type="text" name="lon" id="lon" required>
    </div>
    <div class="form-item">
      <label for="forecast_dt">Forecast step selection</label>
      <select class="form-control" name="forecast_dt" id="forecast_dt">
        <% @foreach(datetimes) do d %>
          <option value="$(d[:datetime])+$(d[:step])">$(d[:datetime])</option>
          <% end %>
      </select>
    </div>
    <div class="form-item manual-btn">
      <label for="manual_entry_button">&nbsp;</label><br>
      <button class="btn btn-primary" type="button" id="manual_entry_button">Manual coord entry</button>
    </div>

    <div class="form-item load-other-btn">
      <button class="btn btn-warning" type="button" id="load_other_data" data-toggle="modal"
        data-target="#pick_data_modal">Load other forecast data</button>
    </div>
  </form>

  <!-- Modal -->
  <div class="modal fade" id="pick_data_modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Data Selection</h5>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <% @foreach(files) do f %>
              <a href="/load/$(f)" class="list-group-item list-group-item-action">$(f)</a>
              <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Load Data</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mymap-container">
  <div id="mapid"></div>
</div>