<input hidden id="loaded_file" value=$(loaded_file)></input>

<!-- <div class="row my-form-row"> -->
<form class="atp-form" action="" method="post">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="lat">Latitude</label>
        <input class="form-control" type="text" name="lat" id="lat" required>
      </div>
      <div class="form-group">
        <label for="lon">Longitude</label>
        <input class="form-control" type="text" name="lon" id="lon" required>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#pick_data">Load other data</button>
      </div>
    </div>
    <div class="col-6">
      <label for="forecast_hour">Forecast hour selection</label>
      <input class="form-control" type="text" name="forecast_datepicker" id="forecast_datepicker">
    </div>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="pick_data" tabindex="-1" role="dialog" aria-labelledby="pick_dataLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Data Selection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <% @foreach(files) do f %>
          <a href="/load/$(f)" class="list-group-item list-group-item-action">$(f)</a>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Load Data</button>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

