<div class="realtime-wrapper">
    <form class="realtime-form atp-prediction-form" action="" method="">
        <div class="alert alert-danger" id="error_lonlat_input"></div>
        <div class="form-item">
            <label for="forecast_dt">Forecast step selection</label>
            <select class="form-control" name="forecast_dt" id="forecast_dt">
                <% @foreach(datetimes) do d %>
                    <option value="$(d[:datetime])+$(d[:step])">$(d[:datetime])</option>
                    <% end %>
            </select>
        </div>
        <div class="form-item">
            <label for="lat">Latitude</label>
            <input class="form-control lonlat" type="text" name="lat" id="lat" required>
        </div>
        <div class="form-item">
            <label for="lon">Longitude</label>
            <input class="form-control lonlat" type="text" name="lon" id="lon" required>
        </div>
        <div class="form-item">
            <label for="atp45_request_button">&nbsp;</label><br>
            <button class="btn btn-primary" type="button" id="atp45_request_button">Send ATP-45 request</button>
        </div>
    </form>
</div>

<div class="mymap-container">
    <div id="mapid"></div>

</div>

$(channels_js_script)