<link href="/css/external/prism.css" rel="stylesheet" />

<div class="realtime-wrapper">
    <div class="realtime-form">
        <div class="form-item">
            <label for="realtime_time">Forecast step selection</label>
            <select class="form-control" name="realtime_time" id="realtime_time">
                <% @foreach(datetimes) do d %>
                    <option value="$(d[:datetime])+$(d[:step])">$(d[:datetime])</option>
                    <% end %>
            </select>
        </div>
    </div>

    <div class="mars-output">
        Output from websocket :
        <pre>
            <code class="language-batch">

            </code>
        </pre>
    </div>
</div>

$(channels_js_script)
<script src="/js/external/prism.js"></script>