<form fxLayout="row wrap" [formGroup]="preloadedForm" (ngSubmit)="onGetAtp45Prediction()">
    <mat-form-field class="form-control" appearance="outline" *ngFor="let formItem of formItems" floatLabel="never">
        <mat-label> {{ formItem.label }} </mat-label>
        <input matInput *ngIf="formItem.type == 'input'" [formControlName]="formItem.controlName">
        <select matNativeControl *ngIf="formItem.type == 'select'" [formControlName]="formItem.controlName">
            <option *ngFor="let val of formItem.placeholder" [ngValue]="val">{{ val.datetime | date:'YYYY-MM-dd @ HH:mm'}}</option>
        </select>
        <mat-hint *ngIf="formItem.hint !== undefined">{{ formItem.hint }}</mat-hint>
        <!-- <mat-error *ngIf="formItem.controlName.invalid"> error ! </mat-error> -->
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="preloadedForm.invalid">Get ATP-45 prediction</button>
    <!-- <button type="button" (click)="request()"></button> -->
</form>

