:host {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

::ng-deep .mat-select-panel.flexpart-input {
  max-width: fit-content;
}