<div class="flex items-center space-x-10">
  <mat-select panelClass="flexpart-input" placeholder="Flexpart run" class="p-2 cursor-pointer hover:bg-gray-50" *ngIf="runs$ | async as runs">
    <mat-option *ngIf="isLoading">
      <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
    </mat-option>
    <mat-option *ngIf="!isLoading && runs.length === 0" disabled>
      <span>No Flexpart run available - Run model first</span>
    </mat-option>
    <mat-option *ngFor="let run of runs" [value]="run.uuid" (click)="onClick(run)">
      <span>
        {{ run.name }} - {{ run.date_created | date:'dd/MM/yy - HH:mm' }}
      </span>
    </mat-option>
  </mat-select>
  <button (click)="renameRun(value, name)">
    <fa-icon icon="pen"></fa-icon>
  </button>
  <button (click)="deleteRun(value)">
    <fa-icon icon="trash"></fa-icon>
  </button>
</div>