<!-- <app-selection-table
    #selectionTableRef
    [columnInfo]="columnInfo"
    [displayedColumns]="displayedColumns"
    (newSelectionEvent)="emitSelection($event)"
    [hasDescriptionCol]="true"
    ></app-selection-table> -->

<!-- <app-selection-list [(runIds$ | async)] = "runId$ | async" (selected)="goToOuput($event)"></app-selection-list> -->
<!-- <app-selection-list [elements] = "runIds$ | async" [routerLink]=""></app-selection-list> -->

<mat-selection-list class="listbox" [multiple]="false" *ngIf="runs$ | async as runs">
    <mat-list-option class="list-item" *ngFor="let run of runs; let index = index" [value] = "run.uuid"
    (click)="onClick(run.uuid)"
    >
        {{ run.uuid }} - {{ run.date_created }}
    </mat-list-option>
</mat-selection-list>
<div class="spinner-container" *ngIf="!(runs$ | async)">
    <mat-spinner></mat-spinner>
</div>

<!-- <button (click)="openDialog()"> Open dialog </button> -->
<!-- <app-flexpart-plot-form
    *ngIf="fpOutput"
    [flexpartOutput]="fpOutput"></app-flexpart-plot-form > -->

<!-- <router-outlet></router-outlet> -->
