<fieldset [formGroup]="form">
  <app-datetime-picker
    [min] = "dateRange.min"
    [max] = "dateRange.max"
    formControlName="start"
    label="Simulation start"
    [formGroup]="form"
  ></app-datetime-picker>
  <app-datetime-picker
    [min] = "dateRange.min"
    [max] = "dateRange.max"
    formControlName="end"
    label="Simulation end"
    [formGroup]="form"
  ></app-datetime-picker>

  <mat-form-field class="form-control-short" appearance="outline" floatLabel="never">
    <mat-label> Time step </mat-label>
    <mat-select formControlName="timeStep">
      <mat-option *ngFor="let option of timeSteps" [value]="option.key">
        {{ option.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-control-long" appearance="outline" floatLabel="never">
    <mat-label> Output type </mat-label>
    <mat-select formControlName="outputType">
      <mat-option *ngFor="let option of outputTypes" [value]="option.key">
        {{ option.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field
    [formGroup]="form"
    class="form-control"
    appearance="outline"
    floatLabel="never"
  >
    <mat-label> Number of steps </mat-label>
    <input type="number" matInput formControlName="nstep" />
  </mat-form-field> -->
</fieldset>
