.notif-item {
    // position: relative;
    button {
        color: white;
        font-size: 0.8em;
    
        &.succeeded {
            color: #28a745;
        }
    
        &.failed {
            color: #e22d3e
        }
    }
    .spinner {
        top: 4px;
        right: 4px;
        width:15px;
        height: 15px;

    }

    .mat-spinner::ng-deep circle {
        stroke: #fff;
      }

}

.userfb {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 360px;
    max-height: 400px;
    z-index: 10000;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 0.6em;
    font-size: 15px;
    overflow: auto;
    
    background-color: rgb(39, 40, 34);
    border-radius: 6px;
    padding: 1em;
    // margin: 0.5em 0.5em;
    // overflow-x: scroll;
    // overflow-y: scroll;
    code {
        color: #f8f8f2;
        font-size: 0.6em;
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
      }
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0,0,0,.6);
}