<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ATP_implementation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" /> -->
    <!-- <link rel="stylesheet" href="/css/external/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/js/node_modules/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/js/node_modules/leaflet-draw/dist/leaflet.draw.css">
</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <nav>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <ul class="navbar-nav bg-gradient-primary sidebar">

                <a class="sidebar-brand" href="#">
                    <div class="sidebar-brand-text">CBRN dispersion app</sup></div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <li class="nav-item">
                    <a class="nav-link" href="$(Genie.Router.linkto(:dashboard))">
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <div class="model-accordion accordion">
                    <div>
                        <input class="model-accordion-input accordion-input" type="checkbox" name="atp45" id="atp45">
                        <label class="model-accordion-label accordion-label" for="atp45">ATP-45 model</label>
                        <div class="model-accordion-content accordion-content">
                            <li class="nav-item">
                                <a class="nav-link" href="$(Genie.Router.linkto(:preloaded_atp_prediction))">
                                    <span>Preloaded ATP-45</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="$(Genie.Router.linkto(:realtime_atp_prediction))">
                                    <span>Real time ATP-45</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="$(Genie.Router.linkto(:archive_data))">
                                    <span>Archive data retrieval</span>
                                </a>
                            </li>
                        </div>
                    </div>
                    <hr class="sidebar-divider">
                    <div>
                        <input class="model-accordion-input accordion-input" type="checkbox" name="flexpart" id="flexpart">
                        <label class="model-accordion-label accordion-label" for="flexpart">Flexpart model</label>
                        <div class="model-accordion-content accordion-content">
                            <li class="nav-item">
                                <a class="nav-link" href="$(Genie.Router.linkto(:extract_met_data))">
                                    <span>Extract met data</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="$(Genie.Router.linkto(:flexpart_preloaded))">
                                    <span>Run Flexpart with preloaded data</span>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>

                <hr class="sidebar-divider">
                <div class="user-info">
                    $(user_info())
                </div>
                <hr class="sidebar-divider">

                <li class="nav-item">
                    <a class="nav-link logout" href="$(Genie.Router.linkto(:logout))">
                        <span>LOG OUT</span>
                    </a>
                </li>
            </ul>
            <!-- End Sidebar -->
        </nav>

        <!-- Content Wrapper -->
        <div id="content-wrapper">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="topbar static-top shadow">
                    <div title="Click here to display/hide the notification bar" class="box-arrow toggle-topbar">
                        <div class="arrow"></div>
                    </div>
                    <ul>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <% @yield %>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->


    <!-- <script src="/js/genie/jquery.min.js"></script> -->
    <!-- <script src="/js/external/jquery.datetimepicker.full.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script> -->
    <script src="/js/dist/bundle.js"></script>
</body>

</html>