@tailwind base;
@tailwind components;
@tailwind utilities;
// @import '../node_modules/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';
@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded;
  }
}

@layer components {
  .btn-disabled {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed
  }
}
/* You can add global styles to this file, and also import other style files */
:root {
  --sidebarMinWidth: 13vw;
  --sidebarBackground: rgb(78, 115, 223);
  --sideColor: aliceblue;
  --smallWidth: 320px;
  --widthForDisplayChange: 780px;
  --widthForSidebarChange: 1024px;
  --formFontSize: 12px;
  --toolbarHeight: 6vh;
  --leafletBoxSize: 3vh;
  --leafletFontSize: calc(0.5 * var(--leafletBoxSize));
  --legendBoxSize: 25vh;
}

@mixin flexDir($dir) {
    display: flex;
    flex-direction: $dir;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    color: rgb(133, 135, 150);
    min-height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
    .mat-form-field-label-wrapper { top: -1.5em; }

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;
    }
    .mat-form-field-outline { background-color: white; }
}

.selection-table.table-container {
    min-height: 140px;
    max-height: 180px;
    overflow: auto;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    margin-bottom: 1em;

    .mat-row, .mat-header-row {
        height: auto;
    }

    .mat-row:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
    }
    .mat-cell {
        font-size: var(--formFontSize);
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .mat-header-cell {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
}

.right-side-container {
    position: fixed;
    top: var(--toolbarHeight);
    right: calc(4 * var(--toolbarHeight));
    background-color: white;
    color: rgb(113, 184, 255);
    z-index: 100000;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .form-control-long {
        width: 13vw;
    }
    .form-control-med {
        width: 8vw;
    }
    .form-control-short {
        width: 6vw;
    }
}

.leaflet-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.leaflet-info {
    margin: 0 0 5px;
    color: #777;
}

.leaflet-tile {
    outline: 1px solid transparent;
}

// Scaling of top-left control buttons with screen res
.leaflet-touch .leaflet-bar a {
    width: var(--leafletBoxSize);
    height: var(--leafletBoxSize);
    line-height: var(--leafletBoxSize);
    padding: calc(0.15 * var(--leafletBoxSize));
}
.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size: calc(0.7 * var(--leafletBoxSize));
    display: flex;
    justify-content: center;
    align-items: center;
}

// Scaling of control layers button with screen res
.leaflet-touch .leaflet-control-layers-toggle {
    width: calc(0.75 * var(--toolbarHeight));
    height: calc(0.75 * var(--toolbarHeight));
}
.leaflet-control-layers-toggle {
    background-size: calc(0.47 * var(--toolbarHeight));
}
.leaflet-retina .leaflet-control-layers-toggle {
    background-size: calc(0.47 * var(--toolbarHeight));
}
.leaflet-control-layers label {
    font-size: var(--leafletFontSize);
}
.leaflet-control-layers-expanded {
    padding: calc(0.2 * var(--leafletBoxSize));
    padding-right: calc(0.3 * var(--leafletBoxSize));
}
.leaflet-control-layers-list input[type="radio"] {
    width: calc(0.7 * var(--leafletFontSize));
    height: calc(0.7 * var(--leafletFontSize));
}

// Scaling of scale bar with screen res (see leaflet-map.component.ts for dynamic updating of scale maxWidth)
.leaflet-control-scale-line {
    height: calc(0.6 * var(--leafletBoxSize));
    font-size: calc(0.8 * var(--leafletFontSize));
    border-width: calc(0.2 * var(--leafletFontSize));
    line-height: 1;
}

// Scaling of layer attribution with screen res
.leaflet-control-attribution {
    font-size: calc(0.8 * var(--leafletFontSize));
}
