<nav>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <ul class="sidebar">

        <a class="sidebar-brand" href="#">
            <div class="sidebar-brand-text">CBRN dispersion app</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="$(Genie.Router.linkto(:dashboard))">
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="model-accordion accordion">
            <div>
                <input class="model-accordion-input accordion-input" type="checkbox" name="atp45" id="atp45">
                <label class="model-accordion-label accordion-label" for="atp45">ATP-45 model</label>
                <div class="model-accordion-content accordion-content">
                    <li class="nav-item">
                        <a class="nav-link" href="$(Genie.Router.linkto(:preloaded_atp_prediction))">
                            <span>Preloaded ATP-45</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="$(Genie.Router.linkto(:realtime_atp_prediction))">
                            <span>Real time ATP-45</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="$(Genie.Router.linkto(:archive_data))">
                            <span>Archive data retrieval</span>
                        </a>
                    </li>
                </div>
            </div>
            <hr class="sidebar-divider">
            <div>
                <input class="model-accordion-input accordion-input" type="checkbox" name="flexpart" id="flexpart">
                <label class="model-accordion-label accordion-label" for="flexpart">Flexpart model</label>
                <div class="model-accordion-content accordion-content">
                    <li class="nav-item">
                        <a class="nav-link" href="$(Genie.Router.linkto(:extract_met_data))">
                            <span>Extract met data</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="$(Genie.Router.linkto(:flexpart_preloaded))">
                            <span>Run Flexpart with preloaded data</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>

        <hr class="sidebar-divider">
        <div class="user-info">
            $(user_info())
        </div>
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link logout" href="$(Genie.Router.linkto(:logout))">
                <span>LOG OUT</span>
            </a>
        </li>
    </ul>
    <!-- End Sidebar -->
</nav>
