<ng-container *ngIf="questions$ | async as questions">
    <form *ngIf="questions.length !== 0" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <app-dyn-form [questions]="questions" [parentForm]="formGroup" formName="dimensions"></app-dyn-form>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Plot!</button>
    </form>
</ng-container>

<ng-container *ngIf="isLoading">
    <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
        <mat-spinner diameter="24"></mat-spinner>
    </div>
</ng-container>