<fieldset [formGroup]="form">
  <mat-form-field class="form-control" appearance="outline" floatLabel="never">
    <mat-label> Release geometry </mat-label>
    <mat-select formControlName="geometryName">
      <mat-option *ngFor="let option of geometryNames" [value]="option.value">
        {{ option.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <app-location
      formControlName="location"
    ></app-location>
  <!-- <div *ngFor="let question of questions">
    <app-question [form]="form" [question]="question"></app-question>
  </div> -->

  <mat-form-field [formGroup]="form" class="form-control" appearance="outline" floatLabel="never">
    <mat-label> Height [m] </mat-label>
    <input type="number" matInput formControlName="height" />
  </mat-form-field>

  <mat-form-field [formGroup]="form" class="form-control" appearance="outline" floatLabel="never">
    <mat-label> Mass [kg] </mat-label>
    <input type="number" matInput formControlName="mass"/>
  </mat-form-field>

  <app-datetime-picker
    [min] = "dateRange.min"
    [max] = "dateRange.max"
    formControlName="start"
    label="Release start"
    [formGroup]="form"
  ></app-datetime-picker>

  <app-datetime-picker
    [min] = "dateRange.min"
    [max] = "dateRange.max"
    formControlName="end"
    label="Release end"
    [formGroup]="form"
  ></app-datetime-picker>

  <mat-form-field [formGroup]="form" class="form-control" appearance="outline" floatLabel="never">
    <mat-label> Number of Substances </mat-label>
    <input type="number" matInput formControlName="substanceNumber" />
  </mat-form-field>

  <mat-form-field class="form-control" appearance="outline" floatLabel="never">
    <mat-label> Substance 1 </mat-label>
    <mat-select formControlName="substanceName">
      <mat-option *ngFor="let option of substanceNames" [value]="option.key">
        {{ option.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</fieldset>