<fieldset [formGroup]="form" class="flex flex-row justify-center">

  <mat-form-field class="form-control-long" appearance="outline" floatLabel="never">
    <mat-label> Substance name </mat-label>
    <mat-select formControlName="substanceName">
      <mat-option *ngFor="let option of substanceNames" [value]="option.key">
        {{ option.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-location formControlName="location"></app-location>

  <mat-form-field class="form-control-med" appearance="outline" floatLabel="never">
    <mat-label> Release geometry </mat-label>
    <mat-select formControlName="geometryName">
      <mat-option *ngFor="let option of geometryNames" [value]="option.value">
        {{ option.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-control-short" appearance="outline" floatLabel="never">
    <mat-label> Height [m] </mat-label>
    <input type="number" matInput formControlName="height" />
  </mat-form-field>

  <mat-form-field class="form-control-short" appearance="outline" floatLabel="never">
    <mat-label> Mass [kg] </mat-label>
    <input type="number" matInput formControlName="mass"/>
  </mat-form-field>

  <app-datetime-picker
    [min] = "dateRange.min"
    [max] = "dateRange.max"
    formControlName="start"
    label="Release start"
  ></app-datetime-picker>

  <app-datetime-picker
    [min] = "dateRange.min"
    [max] = "dateRange.max"
    formControlName="end"
    label="Release end"
  ></app-datetime-picker>

</fieldset>