<!-- <select>
  <option *ngFor="let stype of sliceTypes" [value]="stype" (click)="selectType(stype)" [attr.selected]="stype == selectedSliceType">{{stype}}</option>
</select> -->

<mat-horizontal-stepper (selectionChange)="selectionChanged($event)" [linear]="true">
  <mat-step label="Choose Flexpart run">
    <app-flexpart-plot #run></app-flexpart-plot>
    <div>
      <button mat-raised-button matStepperNext [disabled]="run.value == undefined">Next</button>
    </div>
  </mat-step>

  <mat-step label="Choose Flexpart output">
    <ng-template matStepContent>
      <app-choose-output (selectedIdEvent)="selectedOutputId = $event" [runId] = "run.value"></app-choose-output>
      <div>
        <button mat-raised-button matStepperPrevious>Go back</button>
        <button mat-raised-button matStepperNext [disabled]="selectedOutputId == undefined">Next</button>
      </div>
    </ng-template>
  </mat-step>

  <mat-step label="Choose variable to plot">
    <ng-template matStepContent>
      <app-variable-selection (selectedIdEvent)="selectedLayer = $event"  [outputId] = "selectedOutputId"></app-variable-selection>
      <div>
        <button mat-raised-button matStepperPrevious>Go back</button>
        <button mat-raised-button matStepperNext [disabled]="selectedOutputId == undefined" (click)="showLayer()">Next</button>
      </div>
    </ng-template>
  </mat-step>

  <mat-step label="Choose dimensions to plot">
    <ng-template matStepContent>
      <app-dimensions-form [outputId]="selectedOutputId" [layerName]="selectedLayer"></app-dimensions-form>
      <button mat-raised-button matStepperPrevious>Go back</button>
    </ng-template>
  </mat-step>

</mat-horizontal-stepper>
