<!-- <form fxLayout="row wrap" [formGroup]="formGroup" (ngSubmit)="onGetAtp45Prediction()">
    <span *ngFor="let formItem of formItems">
        <mat-form-field *ngIf="formItem.type == 'input'" class="form-control" appearance="outline" floatLabel="never">
            <mat-label> {{ formItem.label }} </mat-label>
            <input matInput [formControlName]="formItem.controlName">
            <mat-hint *ngIf="formItem.hint !== undefined">{{ formItem.hint }}</mat-hint>
            <mat-error *ngIf="formItem.controlName.invalid"> error ! </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="formItem.type == 'select'" class="form-control" appearance="outline" floatLabel="never">
            <mat-label> {{ formItem.label }} </mat-label>
            <select matNativeControl [formControlName]="formItem.controlName">
                <option *ngFor="let val of formItem.value.display.steps" [ngValue]="val">{{ val.datetime | date:'YYYY-MM-dd @ HH:mm'}}</option>
            </select>
            <mat-hint *ngIf="formItem.hint !== undefined">{{ formItem.hint }}</mat-hint>
            <mat-error *ngIf="formItem.controlName.invalid"> error ! </mat-error>
        </mat-form-field>
    </span>
    <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Get ATP-45 prediction</button>
</form> -->

<!-- <app-form #appForm
    [formItems]="formItems"
    (formSubmit)="onSubmit()"
    ></app-form> -->

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <app-dynamic-form
        *ngFor="let item of formItems.items;"
        [formGroup]="formGroup"
        [item]="item"
        ></app-dynamic-form>
        <button
        mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Send data request</button>
    </form>