<fieldset [formGroup]="form" class="flex flex-row">
  <app-area-input formControlName="area"></app-area-input>

  <mat-form-field class="form-control" appearance="outline" floatLabel="never">
    <mat-label> Horizontal resolution [°]</mat-label>
    <mat-select formControlName="gridres">
      <mat-option *ngFor="let option of gridResolutions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-control" appearance="outline" floatLabel="never">
    <mat-label> Heights [m] ex: "100.0, 500.0" </mat-label>
    <input type="text" matInput formControlName="heights"/>
  </mat-form-field>
</fieldset>

