<mat-action-list>
  <span *ngFor="let notif of notifs$ | async">
    <mat-list-item class="notif-item">
      <button mat-list-item (click)="onShowNotif(notif)" [ngClass]="notif.status">
        {{ notif.title }}
      </button>
      <div class="spinner">
        <mat-spinner *ngIf="notif.status === 'pending'" diameter="15"></mat-spinner>
      </div>
    </mat-list-item>
    <div class="userfb" *ngIf="notif.showed">
      <code> <div *ngFor="let line of notif.content"> {{ line }} </div> </code>
    </div>
  </span>
</mat-action-list>

<div
  *ngIf="showedNotif()"
  class="backdrop"
  (click)="hideNotifs()"></div>
